@charset "UTF-8";

body {
    background-color: rgb(122, 175, 175);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(15, 51, 51);
}
h1#principal {
    text-align: center;
    color: rgb(229, 238, 238);
    background-color: rgb(17, 53, 53);
}
.amarelo {
    color: rgb(201, 221, 109);
}
.vermelho {
    color: rgb(211, 26, 26);
}
h2 {
    color: rgb(3, 94, 94);
}